<h1>Contacts</h1>

<ul>
    <th>Name</th>
    <th>Company</th>
<% contacts = Contact.all
for contact in contacts
        company = Company.find_by({"id" => contact.company_id})
%>
    <li><%=contact["first_name"]%> <%=contact["last_name"]%> - <%= company["name"]%> </li>
<%end%>
</ul>